@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");
@import url("http://fonts.googleapis.com/css?family=EB+Garamond");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600");
@import url("http://fonts.googleapis.com/css?family=Oswald");
@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300");
/* line 5, ../../../../../../../../home/god/.rvm/gems/ruby-1.9.3-p551@omega.weymouth/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../home/god/.rvm/gems/ruby-1.9.3-p551@omega.weymouth/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../home/god/.rvm/gems/ruby-1.9.3-p551@omega.weymouth/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../home/god/.rvm/gems/ruby-1.9.3-p551@omega.weymouth/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../home/god/.rvm/gems/ruby-1.9.3-p551@omega.weymouth/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../home/god/.rvm/gems/ruby-1.9.3-p551@omega.weymouth/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../home/god/.rvm/gems/ruby-1.9.3-p551@omega.weymouth/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../home/god/.rvm/gems/ruby-1.9.3-p551@omega.weymouth/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../home/god/.rvm/gems/ruby-1.9.3-p551@omega.weymouth/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 9, ../sass/_base.scss */
body {
  background: white;
  color: #0a2933;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  height: 100%;
  line-height: 160%; }

/* line 17, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #475b62;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

/* line 23, ../sass/_base.scss */
h1 {
  color: #1f7f9e;
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
  padding-top: 0.5rem; }

/* line 29, ../sass/_base.scss */
h2 {
  color: #333333;
  font-size: 2.0rem;
  line-height: 100%;
  margin: 1.25rem 0; }

/* line 35, ../sass/_base.scss */
h3 {
  color: #e84f3e;
  font-size: 1.5rem;
  line-height: 80%; }

/* line 40, ../sass/_base.scss */
h4 {
  color: #e84f3e;
  font-size: 0.75rem;
  line-height: 70%;
  margin-bottom: 0.1rem; }

/* line 46, ../sass/_base.scss */
h5 {
  color: #000000;
  font-size: 1.2rem;
  line-height: 60%; }

/* line 51, ../sass/_base.scss */
ul {
  list-style-type: none; }

/* line 54, ../sass/_base.scss */
a {
  color: #536870;
  text-decoration: none; }
  /* line 58, ../sass/_base.scss */
  a:hover {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #e84f3e; }

/* line 63, ../sass/_base.scss */
p {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 200%;
  margin-bottom: 1.0rem; }

/* line 71, ../sass/_base.scss */
img,
media,
video {
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

/* line 78, ../sass/_base.scss */
.button {
  background: #e84f3e;
  border-radius: 0.5rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 1.0rem;
  text-transform: uppercase; }

/* line 89, ../sass/_base.scss */
.button:hover {
  background-color: #000000;
  color: #e84f3e; }

/* line 93, ../sass/_base.scss */
.button:active,
.button.is-checked {
  background-color: #e84f3e;
  color: #000000; }

/* line 98, ../sass/_base.scss */
.clear {
  clear: both; }

/* line 101, ../sass/_base.scss */
.clear-l {
  clear: left; }

/* line 104, ../sass/_base.scss */
.clear-r {
  clear: right; }

/* line 107, ../sass/_base.scss */
.clear-set-l {
  float: left; }

/* line 110, ../sass/_base.scss */
.clear-set-r {
  float: right; }

/* line 113, ../sass/_base.scss */
.form-submit {
  color: #ffffff;
  background-color: #e84f3e;
  text-transform: uppercase; }
  /* line 118, ../sass/_base.scss */
  .form-submit:hover {
    color: #000000; }
  /* line 121, ../sass/_base.scss */
  .form-submit:active {
    background-color: #000000;
    color: #e84f3e; }

/* line 126, ../sass/_base.scss */
.small {
  color: #2176c7;
  font-size: 1.0rem; }

/* line 130, ../sass/_base.scss */
.reveal .fa {
  font-family: FontAwesome;
  font-style: normal; }

/***************************************************************************/
                                                                            /**
* weymouth.layout.scss
*
* Styling of the "simple" layout demonstrating the Compass grid extension Susy
* and building mobile first layouts.
******************************************************************************/
/* line 9, ../sass/_layout.scss */
.l-header,
.l-main,
.l-footer {
  *zoom: 1;
  max-width: 1190px;
  max-width: 74.4rem;
  _width: 1190px;
  padding-left: 5px;
  padding-left: 0.3rem;
  padding-right: 5px;
  padding-right: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem; }
  /* line 38, ../../../../../../../../home/god/.rvm/gems/ruby-1.9.3-p551@omega.weymouth/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header:after,
  .l-main:after,
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

/* line 15, ../sass/_layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 1rem; }

/* line 21, ../sass/_layout.scss */
.l-off-canvas-show,
.l-off-canvas-hide {
  display: none; }

/* line 25, ../sass/_layout.scss */
.no-js .l-off-canvas {
  min-height: 24px;
  position: relative; }
  /* line 29, ../sass/_layout.scss */
  .no-js .l-off-canvas .l-region {
    overflow: hidden;
    position: relative; }
  /* line 33, ../sass/_layout.scss */
  .no-js .l-off-canvas .l-off-canvas-hide {
    display: block; }
  /* line 37, ../sass/_layout.scss */
  .no-js .l-off-canvas:not(:target) .l-region {
    height: 0;
    min-height: 0; }
  /* line 41, ../sass/_layout.scss */
  .no-js .l-off-canvas:not(:target) .l-off-canvas-show {
    display: block; }
  /* line 44, ../sass/_layout.scss */
  .no-js .l-off-canvas:not(:target) .l-off-canvas-hide {
    display: none; }

/* line 49, ../sass/_layout.scss */
.js .l-page {
  height: 100%;
  overflow: hidden;
  position: relative; }

/* line 54, ../sass/_layout.scss */
.js .l-off-canvas {
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  cursor: pointer;
  left: 180%;
  position: absolute;
  top: 0;
  width: 80%;
  z-index: 99; }
  /* line 63, ../sass/_layout.scss */
  .js .l-off-canvas.is-visible {
    cursor: auto;
    left: 0; }
    /* line 67, ../sass/_layout.scss */
    .js .l-off-canvas.is-visible .l-off-canvas-show {
      opacity: 0;
      display: none; }
    /* line 71, ../sass/_layout.scss */
    .js .l-off-canvas.is-visible .l-off-canvas-hide {
      display: block; }
  /* line 75, ../sass/_layout.scss */
  .js .l-off-canvas .l-off-canvas-show {
    -moz-transition-delay: 2s;
    -o-transition-delay: 2s;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 1;
    display: block; }

/* line 82, ../sass/_layout.scss */
.breadcrumb {
  margin: 0.5rem 0 0.5rem 0.5rem; }
  /* line 85, ../sass/_layout.scss */
  .breadcrumb li {
    padding: 0 0.5rem; }
  /* line 88, ../sass/_layout.scss */
  .breadcrumb a.crumb-icon {
    font-size: 0.9rem;
    padding: 0 0.1rem; }

/* line 95, ../sass/_layout.scss */
.flexslider .flex-viewport {
  max-height: 560px;
  width: 100%; }

/* line 100, ../sass/_layout.scss */
.flexslider {
  margin: 0 auto 3.0rem auto;
  max-height: 560px;
  max-width: 900px;
  width: 100%; }
  /* line 106, ../sass/_layout.scss */
  .flexslider .flex-control-nav {
    background-position: center top;
    background-size: cover;
    bottom: -2.7rem;
    padding-top: 1.0rem; }
  /* line 112, ../sass/_layout.scss */
  .flexslider .flex-viewport {
    max-height: 560px;
    width: 100%; }
    /* line 116, ../sass/_layout.scss */
    .flexslider .flex-viewport li {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNDUwJSI+PHN0b3Agb2Zmc2V0PSI2Mi4yMjIyMiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGZkZmQiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -moz-radial-gradient(#ffffff 280px, #fdfdfd 450px);
      background-image: -webkit-radial-gradient(#ffffff 280px, #fdfdfd 450px);
      background-image: radial-gradient(#ffffff 280px, #fdfdfd 450px);
      overflow: hidden; }
      /* line 120, ../sass/_layout.scss */
      .flexslider .flex-viewport li img {
        -moz-border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem; }
      /* line 124, ../sass/_layout.scss */
      .flexslider .flex-viewport li .player iframe {
        margin: 0 auto; }

/* line 131, ../sass/_layout.scss */
.l-header {
  margin-bottom: 2.0rem; }

/* line 134, ../sass/_layout.scss */
.l-main {
  margin-bottom: 0;
  padding: 0; }

/* line 138, ../sass/_layout.scss */
.l-region--navigation {
  right: -25%;
  position: absolute;
  width: 50%;
  min-width: 10.0rem; }

/* line 144, ../sass/_layout.scss */
.nav-drawer {
  height: 4.0rem;
  margin: 0;
  padding: 1.0rem 0;
  position: fixed;
  top: -4.0rem;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 100; }
  /* line 154, ../sass/_layout.scss */
  .nav-drawer a.nav-control {
    font-size: 2.5rem; }
    /* line 157, ../sass/_layout.scss */
    .nav-drawer a.nav-control .fa-bars {
      float: right;
      margin: -0.4rem 25% 0 0; }
  /* line 163, ../sass/_layout.scss */
  .nav-drawer .site-logo img {
    float: left;
    margin: -0.4rem 0 0 25%;
    width: 2.5rem; }

/* line 170, ../sass/_layout.scss */
.nav-drawer.show {
  top: 0; }

/* line 176, ../sass/_layout.scss */
.node-type-case .node-case-full .case-panel .case-panel-txt {
  margin: 0 auto;
  padding: 2%; }
  /* line 180, ../sass/_layout.scss */
  .node-type-case .node-case-full .case-panel .case-panel-txt .case-panel-title {
    font-size: 1.2rem;
    margin-top: 0; }
    /* line 184, ../sass/_layout.scss */
    .node-type-case .node-case-full .case-panel .case-panel-txt .case-panel-title .fa-caret-left {
      display: none; }
  /* line 188, ../sass/_layout.scss */
  .node-type-case .node-case-full .case-panel .case-panel-txt .field--case-panel-body p {
    font-size: 1.0rem; }
/* line 192, ../sass/_layout.scss */
.node-type-case .node-case-full .case-panel .flexslider {
  max-width: 640px; }
/* line 196, ../sass/_layout.scss */
.node-type-case .node-case-full .case-panel-imgs {
  margin: 0 auto;
  padding: 0 1.0rem;
  width: 100%; }
/* line 201, ../sass/_layout.scss */
.node-type-case .node-case-full .field--body {
  margin: 0 auto;
  padding: 0 1.0rem; }
/* line 206, ../sass/_layout.scss */
.node-type-case #scroll-nav {
  position: fixed;
  right: 1rem;
  top: 30%;
  width: 1rem;
  z-index: 50; }

/* line 216, ../sass/_layout.scss */
.node-type-project .node-project-full .content {
  width: 100%; }
  /* line 219, ../sass/_layout.scss */
  .node-type-project .node-project-full .content .field--body {
    width: 100%;
    margin: -0.4rem auto 0 auto;
    padding: 0.9rem; }
    /* line 224, ../sass/_layout.scss */
    .node-type-project .node-project-full .content .field--body p {
      clear: right;
      font-size: 1.0rem;
      line-height: 140%; }
  /* line 230, ../sass/_layout.scss */
  .node-type-project .node-project-full .content .links {
    float: right;
    line-height: 130%;
    position: relative; }
    /* line 235, ../sass/_layout.scss */
    .node-type-project .node-project-full .content .links li {
      margin: 0;
      line-height: 190%;
      padding: 0 0.5rem; }
      /* line 240, ../sass/_layout.scss */
      .node-type-project .node-project-full .content .links li:first-of-type {
        padding: 0; }
      /* line 243, ../sass/_layout.scss */
      .node-type-project .node-project-full .content .links li:last-of-type {
        border: 0; }
      /* line 246, ../sass/_layout.scss */
      .node-type-project .node-project-full .content .links li a {
        font-weight: 100; }
        /* line 249, ../sass/_layout.scss */
        .node-type-project .node-project-full .content .links li a img {
          vertical-align: top; }

/* line 259, ../sass/_layout.scss */
.page-about .l-main {
  padding: 0 2.0rem; }
  /* line 263, ../sass/_layout.scss */
  .page-about .l-main #block-weymouth-core-profiles li.profile-block {
    height: 21.0rem;
    min-width: 8.0rem;
    width: 15%; }
    /* line 268, ../sass/_layout.scss */
    .page-about .l-main #block-weymouth-core-profiles li.profile-block h2 {
      font-size: 0.75rem;
      margin: 0; }
    /* line 272, ../sass/_layout.scss */
    .page-about .l-main #block-weymouth-core-profiles li.profile-block .field--body,
    .page-about .l-main #block-weymouth-core-profiles li.profile-block .field--body p {
      font-size: 0.75rem;
      margin-bottom: 0; }
    /* line 277, ../sass/_layout.scss */
    .page-about .l-main #block-weymouth-core-profiles li.profile-block .field--profile-position {
      font-size: 0.65rem; }
    /* line 280, ../sass/_layout.scss */
    .page-about .l-main #block-weymouth-core-profiles li.profile-block .profile-time {
      font-size: 0.75rem; }
  /* line 287, ../sass/_layout.scss */
  .page-about .l-main #block-weymouth-core-clients ul.filter li {
    display: inline-block;
    margin: 0 10% 0 0; }
  /* line 293, ../sass/_layout.scss */
  .page-about .l-main #block-weymouth-core-clients #companies li {
    display: inline-block; }

/* line 302, ../sass/_layout.scss */
.page-capabilities .field--body p {
  margin-left: 1.0rem;
  margin-right: 1.0rem;
  line-height: 140%; }

/* line 312, ../sass/_layout.scss */
.page-case-studies .l-main #case-studies li {
  display: block; }
  /* line 315, ../sass/_layout.scss */
  .page-case-studies .l-main #case-studies li h2 {
    font-size: 1.2rem; }
  /* line 320, ../sass/_layout.scss */
  .page-case-studies .l-main #case-studies li a .case-img-wrapper p {
    font-size: 1.2rem;
    height: 150px;
    margin: -158px auto 20px auto;
    padding-top: 50px;
    width: 250px; }
  /* line 329, ../sass/_layout.scss */
  .page-case-studies .l-main #case-studies li .field--body,
  .page-case-studies .l-main #case-studies li .field--body p {
    font-size: 0.8rem; }

/* line 338, ../sass/_layout.scss */
.page-client .l-main {
  margin-top: 7.0rem; }
  /* line 342, ../sass/_layout.scss */
  .page-client .l-main #client .links {
    float: right;
    line-height: 130%;
    margin-top: -2.9rem;
    position: relative; }
    /* line 348, ../sass/_layout.scss */
    .page-client .l-main #client .links li {
      margin: 0;
      line-height: 190%;
      padding: 0 0.5rem; }
      /* line 353, ../sass/_layout.scss */
      .page-client .l-main #client .links li:first-of-type {
        padding: 0; }
      /* line 356, ../sass/_layout.scss */
      .page-client .l-main #client .links li:last-of-type {
        border: 0; }
      /* line 359, ../sass/_layout.scss */
      .page-client .l-main #client .links li a {
        font-weight: 100; }
        /* line 362, ../sass/_layout.scss */
        .page-client .l-main #client .links li a img {
          vertical-align: top; }
  /* line 370, ../sass/_layout.scss */
  .page-client .l-main #client #client-slides li img {
    min-width: 300px; }
  /* line 373, ../sass/_layout.scss */
  .page-client .l-main #client #client-slides li p {
    font-size: 0.9rem;
    margin: 0.5rem 1.0rem;
    line-height: 120%; }

/* line 384, ../sass/_layout.scss */
.page-contact .contact-office {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
  width: 100%; }
  /* line 391, ../sass/_layout.scss */
  .page-contact .contact-office .contact-office-address {
    font-size: 0.95rem;
    margin: -18.5rem auto 3.0rem auto;
    min-width: 19.0rem; }
    /* line 396, ../sass/_layout.scss */
    .page-contact .contact-office .contact-office-address .contact-address-body {
      font-size: 6.0rem;
      line-height: 100%; }
  /* line 401, ../sass/_layout.scss */
  .page-contact .contact-office img {
    min-width: 19.0rem;
    width: 100%; }
/* line 407, ../sass/_layout.scss */
.page-contact .l-content .field--body h2 {
  font-size: 1.3rem; }
/* line 410, ../sass/_layout.scss */
.page-contact .l-content h1 {
  font-size: 3.0rem;
  line-height: 100%; }

/* line 417, ../sass/_layout.scss */
.page-industries .l-main {
  margin: 8.0rem auto 0 auto;
  max-width: 100%;
  padding: 0;
  width: 100%; }

/* line 425, ../sass/_layout.scss */
.page-industry .l-main {
  margin: 7.0rem auto 0 auto;
  max-width: 75rem;
  padding: 0;
  width: 100%; }
  /* line 432, ../sass/_layout.scss */
  .page-industry .l-main #project-market li {
    display: block;
    vertical-align: top;
    margin: 0 auto;
    width: 100%; }
    /* line 439, ../sass/_layout.scss */
    .page-industry .l-main #project-market li a .node-project-teaser {
      height: 150px;
      margin: 0 auto 2.0rem auto;
      width: 250px; }
      /* line 445, ../sass/_layout.scss */
      .page-industry .l-main #project-market li a .node-project-teaser .content h2 {
        font-size: 1.25rem;
        font-weight: 200;
        height: 150px;
        margin: -156px auto 156px;
        padding-top: 60px; }

/* line 460, ../sass/_layout.scss */
.page-node h1 {
  font-size: 1.5rem; }
/* line 463, ../sass/_layout.scss */
.page-node .l-main {
  margin-top: 7.0rem; }

/* line 468, ../sass/_layout.scss */
.page-service-list .l-main {
  margin: 8.0rem auto 0 auto;
  max-width: 100%;
  padding: 0;
  width: 100%; }

/* line 476, ../sass/_layout.scss */
.page-services .l-main {
  margin: 7.0rem auto 0 auto;
  max-width: 75rem;
  padding: 0;
  width: 100%; }
  /* line 483, ../sass/_layout.scss */
  .page-services .l-main #project-service li {
    display: block;
    margin: 0 auto;
    vertical-align: top;
    width: 250px; }
    /* line 490, ../sass/_layout.scss */
    .page-services .l-main #project-service li a .project-service-item {
      height: 150px;
      margin: 0 auto 2.0rem auto;
      width: 250px; }
      /* line 495, ../sass/_layout.scss */
      .page-services .l-main #project-service li a .project-service-item h2 {
        font-size: 1.25rem;
        font-weight: 200;
        height: 150px;
        margin: -153px auto 153px;
        padding-top: 60px; }

/* line 509, ../sass/_layout.scss */
.page-user .l-main {
  margin-top: 6.0rem; }
  /* line 514, ../sass/_layout.scss */
  .page-user .l-main .l-content .tabs--primary li {
    float: none; }

/* line 522, ../sass/_layout.scss */
.site-logo img {
  margin-top: 1.0rem;
  position: absolute;
  z-index: 100; }

/* line 529, ../sass/_layout.scss */
body.front video {
  display: none; }
/* line 532, ../sass/_layout.scss */
body.front .explore,
body.front .explore-ajax {
  display: none; }
/* line 536, ../sass/_layout.scss */
body.front .field--front-panel-body {
  margin: 0.5rem auto;
  padding: 0.1rem 1.0rem;
  width: 100%; }
/* line 541, ../sass/_layout.scss */
body.front .front-panel-content {
  height: 20.0rem;
  padding-top: 20%; }
  /* line 545, ../sass/_layout.scss */
  body.front .front-panel-content .front-panel-callout {
    background-color: #333333;
    opacity: 0.8;
    padding: 1.0rem;
    width: 100%; }
    /* line 551, ../sass/_layout.scss */
    body.front .front-panel-content .front-panel-callout h2.block-title {
      color: #ffffff;
      font-size: 1.2rem;
      margin: 0.3rem 0; }
    /* line 558, ../sass/_layout.scss */
    body.front .front-panel-content .front-panel-callout .content a {
      color: #ffffff; }
      /* line 561, ../sass/_layout.scss */
      body.front .front-panel-content .front-panel-callout .content a .case-view-link {
        border: 1px #ffffff solid;
        color: #ffffff;
        font-size: 0.85rem;
        min-width: 12.0rem;
        text-align: center;
        width: 50%; }
    /* line 571, ../sass/_layout.scss */
    body.front .front-panel-content .front-panel-callout .content .field--body p {
      color: #ffffff;
      font-family: "Merriweather", serif;
      font-size: 0.8rem;
      line-height: 150%; }
  /* line 580, ../sass/_layout.scss */
  body.front .front-panel-content .front-mobile-img {
    width: 100%; }
/* line 584, ../sass/_layout.scss */
body.front li.blog-block {
  border-top: 1px #e3e3e3 solid;
  padding: 1.5rem 0 0.5rem 0;
  text-align: center; }
/* line 589, ../sass/_layout.scss */
body.front li.blog-block-last {
  margin: 0 auto;
  text-align: center;
  width: 85%; }
/* line 594, ../sass/_layout.scss */
body.front #mobile-contact {
  margin-top: -21.0rem; }
  /* line 597, ../sass/_layout.scss */
  body.front #mobile-contact .mobile-office {
    float: left;
    padding: 1.0rem 0;
    width: 50%; }
    /* line 602, ../sass/_layout.scss */
    body.front #mobile-contact .mobile-office .mobile-office-contact {
      margin: 0 auto;
      max-width: 13.0rem;
      padding-left: 0.5rem; }
      /* line 607, ../sass/_layout.scss */
      body.front #mobile-contact .mobile-office .mobile-office-contact h2 {
        font-size: 1.1rem;
        margin: 0 auto 0.3rem 0; }
      /* line 611, ../sass/_layout.scss */
      body.front #mobile-contact .mobile-office .mobile-office-contact a {
        padding-right: 8%; }
        /* line 614, ../sass/_layout.scss */
        body.front #mobile-contact .mobile-office .mobile-office-contact a .fa-lg {
          font-size: 1.0rem; }
  /* line 620, ../sass/_layout.scss */
  body.front #mobile-contact #mobile-office-0 {
    border-right: 1px #e3e3e3 solid; }

/* line 627, ../sass/_layout.scss */
body.video-slideshow .flexslider .flex-control-nav {
  background-image: none;
  padding-top: 0; }

/* line 633, ../sass/_layout.scss */
iframe.phone {
  display: block !important;
  height: auto;
  width: 100%; }

/* line 638, ../sass/_layout.scss */
iframe.desk,
iframe.tab {
  display: none !important; }

/* line 642, ../sass/_layout.scss */
#block-weymouth-core-clients {
  margin: 0px auto; }
  /* line 645, ../sass/_layout.scss */
  #block-weymouth-core-clients * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 651, ../sass/_layout.scss */
  #block-weymouth-core-clients .button-group .button {
    border-radius: 0.5rem;
    margin: 0.1rem 25%;
    width: 50%; }
  /* line 657, ../sass/_layout.scss */
  #block-weymouth-core-clients .button-group:after {
    clear: both;
    content: '';
    display: block; }
  /* line 662, ../sass/_layout.scss */
  #block-weymouth-core-clients .element-item {
    background: transparent;
    border: 1px #819090 solid;
    color: #000000;
    float: left;
    height: 146px;
    margin: 0.3rem;
    position: relative;
    width: 196px; }
    /* line 672, ../sass/_layout.scss */
    #block-weymouth-core-clients .element-item img {
      height: 76%;
      margin: 12%;
      vertical-align: middle;
      width: 76%; }
  /* line 679, ../sass/_layout.scss */
  #block-weymouth-core-clients .element-item > * {
    margin: 0;
    padding: 0; }
  /* line 683, ../sass/_layout.scss */
  #block-weymouth-core-clients .grid:after {
    clear: both;
    content: '';
    display: block; }

/* line 689, ../sass/_layout.scss */
#block-weymouth-core-contact-form {
  clear: left; }

/* line 693, ../sass/_layout.scss */
#block-weymouth-core-contact-form .webform-component-email,
#block-weymouth-core-contact-form .webform-component-email .form-text,
#block-weymouth-core-contact-form .webform-component-textfield,
#block-weymouth-core-contact-form .webform-component-textfield .form-text {
  min-width: 10.0rem;
  padding-right: 1.2rem;
  width: 50%; }
/* line 701, ../sass/_layout.scss */
#block-weymouth-core-contact-form .webform-component--phone,
#block-weymouth-core-contact-form .webform-component--phone .form-text {
  padding-right: 0; }

/* line 706, ../sass/_layout.scss */
#global-footer {
  padding: 3.0rem;
  font-size: 1.0rem;
  text-align: center; }
  /* line 711, ../sass/_layout.scss */
  #global-footer h3 {
    margin: 0 20% 0.5rem 20%;
    text-align: center;
    line-height: 110%;
    font-size: 1.0rem; }
  /* line 717, ../sass/_layout.scss */
  #global-footer #global-footer-right {
    font-size: 0.8rem; }

/* line 721, ../sass/_layout.scss */
#global-menu {
  height: 100%;
  padding: 3.0rem 1.0rem 1.0rem 1.0rem; }
  /* line 726, ../sass/_layout.scss */
  #global-menu li.expanded ul {
    display: none; }

/* line 732, ../sass/_layout.scss */
#off-canvas-hide .fa-times {
  font-size: 3.6rem !important;
  position: fixed;
  right: 1.0rem;
  top: 0.0rem;
  z-index: 100; }

/* line 741, ../sass/_layout.scss */
#off-canvas-show .fa-bars {
  font-size: 2.0rem !important;
  padding: 0.35rem;
  position: fixed;
  right: 1.0rem;
  top: 0.5rem;
  z-index: 90; }

@media (min-width: 44em) {
  /* line 751, ../sass/_layout.scss */
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1190px;
    max-width: 74.4rem; }

  /* line 756, ../sass/_layout.scss */
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }

  /* line 759, ../sass/_layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0; }

  /* line 762, ../sass/_layout.scss */
  .l-region--navigation {
    clear: both;
    min-height: 1024px;
    position: absolute;
    right: -25%;
    top: 0;
    width: 16.0rem; }

  /* line 773, ../sass/_layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 776, ../sass/_layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 780, ../sass/_layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; }

  /* line 784, ../sass/_layout.scss */
  .l-footer {
    max-width: none;
    width: 100%; }
    /* line 788, ../sass/_layout.scss */
    .l-footer .l-region--footer {
      margin: 0 auto;
      max-width: 75rem;
      width: 100%; }
      /* line 793, ../sass/_layout.scss */
      .l-footer .l-region--footer #block-weymouth-core-global-footer {
        padding: 5.0rem 0; }
        /* line 796, ../sass/_layout.scss */
        .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer {
          font-size: 1.2rem;
          text-align: left; }
          /* line 800, ../sass/_layout.scss */
          .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer #global-footer-center {
            float: left;
            width: 50%; }
            /* line 804, ../sass/_layout.scss */
            .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer #global-footer-center .footer-office {
              line-height: 100%;
              margin: 0 auto 1.0rem auto;
              width: 50%; }
              /* line 809, ../sass/_layout.scss */
              .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer #global-footer-center .footer-office .fa-map-marker {
                font-size: 1.3rem; }
              /* line 812, ../sass/_layout.scss */
              .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer #global-footer-center .footer-office a {
                font-size: 0.9rem; }
              /* line 815, ../sass/_layout.scss */
              .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer #global-footer-center .footer-office .footer-office-phone {
                font-size: 0.9rem; }
          /* line 820, ../sass/_layout.scss */
          .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer #global-footer-left {
            float: left;
            text-align: left;
            width: 25%; }
            /* line 825, ../sass/_layout.scss */
            .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer #global-footer-left h3 {
              font-size: 0.9rem;
              line-height: 100%;
              margin: 0 auto 0 0;
              width: 67px; }
          /* line 832, ../sass/_layout.scss */
          .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer #global-footer-right {
            float: left;
            font-size: 0.8rem;
            width: 25%; }

  /* line 841, ../sass/_layout.scss */
  .l-main {
    min-height: 20.0rem; }

  /* line 845, ../sass/_layout.scss */
  .node-type-project .node-project-full {
    max-width: 900px; }
    /* line 848, ../sass/_layout.scss */
    .node-type-project .node-project-full .content {
      width: 100%; }
      /* line 851, ../sass/_layout.scss */
      .node-type-project .node-project-full .content .field--body {
        margin: -24rem 0 10.0rem 4%;
        opacity: 0.9;
        width: 43%; }
        /* line 856, ../sass/_layout.scss */
        .node-type-project .node-project-full .content .field--body p {
          clear: none; }
      /* line 860, ../sass/_layout.scss */
      .node-type-project .node-project-full .content .links {
        margin: -55% 5% 0 0; }

  /* line 868, ../sass/_layout.scss */
  .page-capabilities .field--body p {
    line-height: 200%;
    margin: 0 1.0rem; }

  /* line 875, ../sass/_layout.scss */
  .page-case-studies .l-main {
    margin-top: 7.0rem; }
    /* line 879, ../sass/_layout.scss */
    .page-case-studies .l-main #case-studies li {
      display: inline-block;
      margin: 0 3%;
      min-width: 250px;
      padding: 0;
      width: 33%;
      zoom: 1;
      *display: inline; }

  /* line 896, ../sass/_layout.scss */
  .page-client .l-main #client #client-slides li p {
    font-size: 1.1rem;
    line-height: 200%;
    margin: 2.0rem 25% 0 25%; }

  /* line 907, ../sass/_layout.scss */
  .page-contact .contact-office {
    display: block;
    float: left;
    max-width: 50%;
    margin: 2.0rem auto 2.0rem 5%;
    width: 40%; }
    /* line 914, ../sass/_layout.scss */
    .page-contact .contact-office .contact-office-address {
      font-size: 0.95rem;
      margin: -80% auto 40% rem; }

  /* line 923, ../sass/_layout.scss */
  .page-industry .l-main #project-market li {
    display: inline-block;
    margin: 0 1.0rem;
    width: 40%;
    zoom: 1;
    *display: inline; }

  /* line 936, ../sass/_layout.scss */
  .page-services .l-main #project-service li {
    display: inline-block;
    width: 33%;
    margin: 0.5rem 1%;
    zoom: 1;
    *display: inline; }

  /* line 950, ../sass/_layout.scss */
  .page-user .l-main .l-content .tabs--primary li {
    float: left; }

  /* line 958, ../sass/_layout.scss */
  body.front .l-main {
    max-width: 100%;
    width: 100%; }
    /* line 962, ../sass/_layout.scss */
    body.front .l-main #block-weymouth-core-blog,
    body.front .l-main #block-weymouth-core-blog-header {
      margin: 4.0rem auto 0.5rem auto;
      max-width: 75rem;
      width: 100%; }
  /* line 969, ../sass/_layout.scss */
  body.front li.blog-block {
    border-top: 1px solid #e3e3e3;
    display: inline-block;
    margin: 1.0rem 2.0rem;
    padding: 2.0rem 1.0rem 0 1.0rem;
    text-align: center;
    vertical-align: top;
    width: 40%;
    zoom: 1;
    *display: inline; }
    /* line 980, ../sass/_layout.scss */
    body.front li.blog-block h4 {
      margin-top: 0.5rem; }
    /* line 983, ../sass/_layout.scss */
    body.front li.blog-block img {
      margin: 0 auto; }
    /* line 986, ../sass/_layout.scss */
    body.front li.blog-block .blog-teaser-title {
      font-size: 1.0rem;
      margin: 0 auto;
      width: 80%; }
  /* line 995, ../sass/_layout.scss */
  body.front #blog-block li.blog-block .node-blog-teaser .content {
    min-height: 26.0rem; }
  /* line 1001, ../sass/_layout.scss */
  body.front #blog-block li.blog-block.even .node-blog:after {
    border-right: 1px #e3e3e3 solid;
    content: '\00a0';
    padding: 160% 58% 5% 58%; }
  /* line 1007, ../sass/_layout.scss */
  body.front #blog-block li.blog-block-last {
    margin: 0.3rem auto 0 auto;
    text-align: center;
    width: 92%; }
  /* line 1014, ../sass/_layout.scss */
  body.front #front-page .field--body {
    margin: 0.5rem auto;
    padding: 0.1rem 0;
    width: 75rem; }
  /* line 1019, ../sass/_layout.scss */
  body.front #front-page .field--front-panel-body {
    margin: 0.5rem auto;
    max-width: 100%;
    padding: 0.1rem 2.0rem;
    width: 75rem; }
  /* line 1025, ../sass/_layout.scss */
  body.front #front-page .field--case-panel-body p {
    font-size: 1.0rem;
    line-height: 150%; }
  /* line 1030, ../sass/_layout.scss */
  body.front #front-page .front-panel-even .front-panel-callout {
    color: #333333;
    margin: 0 auto 0 25%; }
    /* line 1034, ../sass/_layout.scss */
    body.front #front-page .front-panel-even .front-panel-callout a {
      color: #333333; }
      /* line 1037, ../sass/_layout.scss */
      body.front #front-page .front-panel-even .front-panel-callout a .case-view-link {
        border: 1px #333333 solid;
        color: #333333; }
    /* line 1042, ../sass/_layout.scss */
    body.front #front-page .front-panel-even .front-panel-callout .field--body p {
      color: #333333; }
    /* line 1045, ../sass/_layout.scss */
    body.front #front-page .front-panel-even .front-panel-callout .block-title {
      color: #333333; }
  /* line 1051, ../sass/_layout.scss */
  body.front #front-page .front-panel-odd .front-panel-callout {
    color: #ffffff;
    margin: 0 25% 0 auto; }
    /* line 1055, ../sass/_layout.scss */
    body.front #front-page .front-panel-odd .front-panel-callout a {
      color: #ffffff; }
      /* line 1058, ../sass/_layout.scss */
      body.front #front-page .front-panel-odd .front-panel-callout a .case-view-link {
        border: 1px #ffffff solid;
        color: #ffffff; }
    /* line 1063, ../sass/_layout.scss */
    body.front #front-page .front-panel-odd .front-panel-callout .field--body p {
      color: #ffffff; }
    /* line 1066, ../sass/_layout.scss */
    body.front #front-page .front-panel-odd .front-panel-callout .block-title {
      color: #ffffff; }
  /* line 1071, ../sass/_layout.scss */
  body.front #front-page .front-panel-content {
    height: 20.0rem;
    padding: 0; }
    /* line 1075, ../sass/_layout.scss */
    body.front #front-page .front-panel-content .front-panel-callout {
      background-color: transparent;
      opacity: 1;
      padding-top: 3.0rem;
      text-align: center;
      width: 25.0rem; }
      /* line 1083, ../sass/_layout.scss */
      body.front #front-page .front-panel-content .front-panel-callout a .case-view-link {
        margin: 0 auto;
        padding: 0.5rem;
        width: 13.0rem; }
      /* line 1089, ../sass/_layout.scss */
      body.front #front-page .front-panel-content .front-panel-callout .field--body p {
        font-size: 1.2rem;
        line-height: 120%;
        width: 25.0rem; }
      /* line 1094, ../sass/_layout.scss */
      body.front #front-page .front-panel-content .front-panel-callout h2.block-title {
        margin-top: 0.1rem; }
      /* line 1097, ../sass/_layout.scss */
      body.front #front-page .front-panel-content .front-panel-callout h4 {
        margin-bottom: 0.3rem; }
  /* line 1102, ../sass/_layout.scss */
  body.front #front-page .explore {
    bottom: 0;
    display: block;
    left: 45%;
    position: absolute;
    width: 10%; }
  /* line 1109, ../sass/_layout.scss */
  body.front #front-page .explore-ajax {
    display: block;
    margin-left: 45%;
    position: relative;
    padding-top: 50%;
    width: 10%;
    z-index: 1000; }
  /* line 1117, ../sass/_layout.scss */
  body.front #front-page .fa-chevron-down {
    font-size: 4.0rem; }
  /* line 1120, ../sass/_layout.scss */
  body.front #front-page #case-study {
    margin-top: 28.0rem; }
  /* line 1123, ../sass/_layout.scss */
  body.front #front-page #front-page-body {
    left: 30%;
    min-width: 40.0rem;
    position: absolute;
    top: 2.0rem;
    width: 40%; }
    /* line 1130, ../sass/_layout.scss */
    body.front #front-page #front-page-body h2 {
      font-size: 2.4rem; }
    /* line 1134, ../sass/_layout.scss */
    body.front #front-page #front-page-body a #front-video-link {
      padding: 0.5rem;
      text-align: center;
      width: 13.0rem; }
  /* line 1141, ../sass/_layout.scss */
  body.front #front-page video {
    display: block; }
  /* line 1144, ../sass/_layout.scss */
  body.front #front-page .front-mobile-img {
    display: none; }
  /* line 1147, ../sass/_layout.scss */
  body.front #front-page #front-video {
    background-color: #000000;
    position: absolute;
    top: 0;
    width: 100%; }
  /* line 1153, ../sass/_layout.scss */
  body.front #front-page #mobile-contact {
    display: none; }
  /* line 1156, ../sass/_layout.scss */
  body.front #front-page #video-x {
    color: #ffffff;
    font-size: 3.0rem;
    left: 80%;
    position: absolute;
    top: 1.0rem;
    z-index: 99; }
    /* line 1164, ../sass/_layout.scss */
    body.front #front-page #video-x:hover {
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      color: #e84f3e; }

  /* line 1171, ../sass/_layout.scss */
  iframe.tab {
    display: block !important;
    height: 401px;
    width: 650px; }

  /* line 1176, ../sass/_layout.scss */
  iframe.desk,
  iframe.phone {
    display: none !important; }

  /* line 1180, ../sass/_layout.scss */
  #block-weymouth-core-clients {
    max-width: 40rem; }
    /* line 1184, ../sass/_layout.scss */
    #block-weymouth-core-clients .button-group .button {
      border-radius: 0;
      float: left;
      margin: 0;
      width: 15%; }
    /* line 1190, ../sass/_layout.scss */
    #block-weymouth-core-clients .button-group .button:first-child {
      border-radius: 0.5rem 0 0 0.5rem;
      margin-left: 3.4%; }
    /* line 1194, ../sass/_layout.scss */
    #block-weymouth-core-clients .button-group .button:last-child {
      border-radius: 0 0.5rem 0.5rem 0; }
    /* line 1198, ../sass/_layout.scss */
    #block-weymouth-core-clients .button-group:after {
      clear: both;
      content: '';
      display: block; }

  /* line 1204, ../sass/_layout.scss */
  #global-menu {
    min-height: 1024px;
    opacity: 0.85;
    padding: 1.0rem;
    width: 16.0rem; }
    /* line 1210, ../sass/_layout.scss */
    #global-menu a {
      font-size: 1.5rem; }
    /* line 1213, ../sass/_layout.scss */
    #global-menu li {
      line-height: 180%; }
    /* line 1216, ../sass/_layout.scss */
    #global-menu .content {
      margin-top: 3.0rem; }
    /* line 1220, ../sass/_layout.scss */
    #global-menu li.expanded ul {
      display: block; }
      /* line 1223, ../sass/_layout.scss */
      #global-menu li.expanded ul a {
        font-size: 1.2rem; }

  /* line 1230, ../sass/_layout.scss */
  #off-canvas-show .fa-bars {
    font-size: 2.0rem !important;
    padding: 0.35rem;
    position: fixed;
    right: 12.0rem;
    top: 2.6rem;
    z-index: 100; }

  /* line 1240, ../sass/_layout.scss */
  #off-canvas-hide .fa-times {
    font-size: 3.6rem !important;
    position: fixed;
    right: 1.0rem;
    top: 2.1rem;
    z-index: 100; } }
@media (min-width: 70em) {
  /* line 1250, ../sass/_layout.scss */
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1190px;
    max-width: 74.4rem; }

  /* line 1255, ../sass/_layout.scss */
  .l-branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%; }

  /* line 1258, ../sass/_layout.scss */
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0; }

  /* line 1262, ../sass/_layout.scss */
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
  /* line 1265, ../sass/_layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

  /* line 1270, ../sass/_layout.scss */
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
  /* line 1273, ../sass/_layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 1279, ../sass/_layout.scss */
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
  /* line 1283, ../sass/_layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  /* line 1287, ../sass/_layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
  /* line 1290, ../sass/_layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 1295, ../sass/_layout.scss */
  .l-footer {
    max-width: none; }
    /* line 1301, ../sass/_layout.scss */
    .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer-center .footer-office {
      float: left; }
    /* line 1305, ../sass/_layout.scss */
    .l-footer .l-region--footer #block-weymouth-core-global-footer #global-footer-right {
      font-size: 1.3rem !important; }

  /* line 1313, ../sass/_layout.scss */
  .node-type-case .node-case-full .case-panel {
    clear: right; }
    /* line 1316, ../sass/_layout.scss */
    .node-type-case .node-case-full .case-panel .case-panel-txt {
      float: right;
      margin: 0 0 2.0rem 1.0rem;
      width: 27%; }
      /* line 1322, ../sass/_layout.scss */
      .node-type-case .node-case-full .case-panel .case-panel-txt .case-panel-title .fa-caret-left {
        display: inline; }
    /* line 1327, ../sass/_layout.scss */
    .node-type-case .node-case-full .case-panel .flexslider {
      margin-left: 4.0rem;
      max-width: 640px; }
  /* line 1332, ../sass/_layout.scss */
  .node-type-case .node-case-full .case-panel-imgs {
    margin: 0 1.0rem 0 0;
    padding: 0 1.0rem;
    width: 70%; }
  /* line 1338, ../sass/_layout.scss */
  .node-type-case #scroll-nav {
    top: 40%; }

  /* line 1344, ../sass/_layout.scss */
  .node-type-project .node-project-full .content {
    width: 900px; }
    /* line 1347, ../sass/_layout.scss */
    .node-type-project .node-project-full .content .links {
      margin: -31.0rem 1.0rem 0 0; }

  /* line 1354, ../sass/_layout.scss */
  .page-about .l-main {
    padding: 0; }

  /* line 1361, ../sass/_layout.scss */
  .page-case-studies .l-main #case-studies li {
    margin: 0;
    padding: 0 3%; }

  /* line 1370, ../sass/_layout.scss */
  .page-capabilities .field--body p {
    margin: 0; }

  /* line 1376, ../sass/_layout.scss */
  .page-contact .contact-office {
    display: inline-block;
    margin: 2.0rem auto;
    padding: 0 1.0rem;
    text-align: center;
    width: 49%;
    zoom: 1;
    *display: inline; }
    /* line 1385, ../sass/_layout.scss */
    .page-contact .contact-office .contact-office-address {
      font-size: 0.95rem;
      margin: -80% auto 40%; }
      /* line 1389, ../sass/_layout.scss */
      .page-contact .contact-office .contact-office-address .contact-address-body {
        font-size: 10.0rem;
        line-height: 100%; }

  /* line 1398, ../sass/_layout.scss */
  .page-industry .l-main #project-market {
    margin: 0 auto;
    max-width: 75rem; }
    /* line 1402, ../sass/_layout.scss */
    .page-industry .l-main #project-market li {
      display: inline-block;
      margin: 0;
      width: 33%;
      zoom: 1;
      *display: inline; }

  /* line 1415, ../sass/_layout.scss */
  .page-services .l-main #project-service li {
    margin: 0;
    width: 33%; }

  /* line 1423, ../sass/_layout.scss */
  body.front .field--body,
  body.front .field--front-panel-body {
    margin: 0.5rem auto;
    padding: 0.1rem 0;
    width: 75rem; }
  /* line 1429, ../sass/_layout.scss */
  body.front li.blog-block {
    border-top: 1px solid #e3e3e3;
    display: inline-block;
    margin: 1.0rem 2.0rem;
    padding: 2.0rem 1.0rem 0 1.0rem;
    text-align: center;
    vertical-align: top;
    width: 40%;
    zoom: 1;
    *display: inline; }
    /* line 1440, ../sass/_layout.scss */
    body.front li.blog-block h4 {
      margin-top: 0.5rem; }
    /* line 1443, ../sass/_layout.scss */
    body.front li.blog-block img {
      margin: 0 auto; }
    /* line 1446, ../sass/_layout.scss */
    body.front li.blog-block .blog-teaser-title {
      font-size: 1.0rem;
      margin: 0 auto;
      width: 80%; }
  /* line 1455, ../sass/_layout.scss */
  body.front #blog-block li.blog-block.even .node-blog:after {
    border-right: 1px #e3e3e3 solid;
    content: '\00a0';
    padding: 100% 56% 5% 55%; }
  /* line 1463, ../sass/_layout.scss */
  body.front #block-weymouth-core-blog,
  body.front #block-weymouth-core-blog-header {
    max-width: 75rem;
    margin: 4.0rem auto 0.5rem auto;
    width: 100%; }
  /* line 1470, ../sass/_layout.scss */
  body.front #front-page #case-study {
    margin-top: 58.0rem; }
  /* line 1473, ../sass/_layout.scss */
  body.front #front-page #front-page-body {
    top: 15.0rem; }

  /* line 1478, ../sass/_layout.scss */
  iframe.desk {
    display: block !important;
    height: 550px;
    width: 890px; }

  /* line 1483, ../sass/_layout.scss */
  iframe.tab,
  iframe.phone {
    display: none !important; }

  /* line 1487, ../sass/_layout.scss */
  #block-weymouth-core-clients {
    max-width: 65rem; }
    /* line 1491, ../sass/_layout.scss */
    #block-weymouth-core-clients .button-group .button:first-child {
      margin-left: 4.5%; }
    /* line 1495, ../sass/_layout.scss */
    #block-weymouth-core-clients .button-group:after {
      clear: both;
      content: '';
      display: block; }

  /* line 1502, ../sass/_layout.scss */
  #block-weymouth-core-contact-form .webform-component-email,
  #block-weymouth-core-contact-form .webform-component-email .form-text,
  #block-weymouth-core-contact-form .webform-component-textfield,
  #block-weymouth-core-contact-form .webform-component-textfield .form-text {
    padding-right: 1.2rem;
    width: 32%; } }
/* line 1, ../sass/_modules.scss */
a.l-off-canvas-hide {
  color: #ffffff !important; }
  /* line 4, ../sass/_modules.scss */
  a.l-off-canvas-hide:hover .fa-times {
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    color: #e84f3e; }

/* line 10, ../sass/_modules.scss */
a.l-off-canvas-show {
  color: #e84f3e; }
  /* line 14, ../sass/_modules.scss */
  a.l-off-canvas-show:hover .fa-bars {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #000000;
    border: 1px #ffffff solid;
    color: #ffffff; }

/* line 22, ../sass/_modules.scss */
.breadcrumb {
  color: #536870;
  text-transform: uppercase; }
  /* line 26, ../sass/_modules.scss */
  .breadcrumb li {
    border-right: 2px #e3e3e3 dotted;
    display: inline; }
    /* line 30, ../sass/_modules.scss */
    .breadcrumb li:last-of-type {
      border: 0; }
  /* line 34, ../sass/_modules.scss */
  .breadcrumb a.crumb-icon {
    background-color: #000000;
    border: 1px #ffffff solid;
    color: #ffffff; }
    /* line 39, ../sass/_modules.scss */
    .breadcrumb a.crumb-icon:hover {
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      color: #000000;
      background-color: #ffffff;
      border: 1px #000000 solid; }

/* line 48, ../sass/_modules.scss */
.flexslider .flex-control-nav {
  background-image: url("/sites/all/themes/weymouth/images/slideshow_shadow.png"); }
/* line 53, ../sass/_modules.scss */
.flexslider .flex-viewport li .player {
  background-color: #000000; }

/* line 59, ../sass/_modules.scss */
.front-panel-content {
  background-color: #e3e3e3 !important; }

/* line 62, ../sass/_modules.scss */
.front-panel-callout {
  overflow: visible; }
  /* line 65, ../sass/_modules.scss */
  .front-panel-callout a {
    text-transform: uppercase; }
    /* line 68, ../sass/_modules.scss */
    .front-panel-callout a .case-view-link {
      color: #ffffff; }
    /* line 71, ../sass/_modules.scss */
    .front-panel-callout a:hover, .front-panel-callout a:hover div {
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #e84f3e; }

/* line 78, ../sass/_modules.scss */
.front-panel-wrapper {
  background-color: #ffffff; }

/* line 81, ../sass/_modules.scss */
.l-footer {
  background-color: #28282e;
  margin-bottom: 0; }
  /* line 86, ../sass/_modules.scss */
  .l-footer .l-region--footer #global-footer-center {
    color: #6c6d6f; }
    /* line 89, ../sass/_modules.scss */
    .l-footer .l-region--footer #global-footer-center a {
      color: #ffffff;
      font-weight: 300; }
      /* line 93, ../sass/_modules.scss */
      .l-footer .l-region--footer #global-footer-center a:hover {
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        color: #e84f3e; }
      /* line 97, ../sass/_modules.scss */
      .l-footer .l-region--footer #global-footer-center a .fa-map-marker {
        color: #e84f3e; }
        /* line 100, ../sass/_modules.scss */
        .l-footer .l-region--footer #global-footer-center a .fa-map-marker:hover {
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          color: #ffffff; }
  /* line 108, ../sass/_modules.scss */
  .l-footer .l-region--footer #global-footer-left a h3 {
    color: #6c6d6f; }
  /* line 113, ../sass/_modules.scss */
  .l-footer .l-region--footer #global-footer-right a {
    color: #6c6d6f; }
    /* line 116, ../sass/_modules.scss */
    .l-footer .l-region--footer #global-footer-right a:hover {
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      color: #e84f3e; }
  /* line 121, ../sass/_modules.scss */
  .l-footer .l-region--footer #global-footer-right .fa-inverse {
    color: #111213; }

/* line 127, ../sass/_modules.scss */
.l-off-canvas {
  clear: both; }

/* line 130, ../sass/_modules.scss */
.nav-drawer {
  border-bottom: 1px #475b62 solid;
  background-color: #ffffff;
  opacity: 0.8; }
  /* line 135, ../sass/_modules.scss */
  .nav-drawer a.nav-control {
    color: #e84f3e; }
    /* line 138, ../sass/_modules.scss */
    .nav-drawer a.nav-control:hover {
      border: 1px #000000 solid;
      color: #000000; }

/* line 146, ../sass/_modules.scss */
.node-case-full .field--body p {
  color: #6c6d6f; }
/* line 150, ../sass/_modules.scss */
.node-case-full .case-panel-imgs {
  text-align: center; }
/* line 155, ../sass/_modules.scss */
.node-case-full .case-panel .case-panel-txt .case-panel-title {
  color: #e84f3e; }
/* line 162, ../sass/_modules.scss */
.node-case-full #scroll-nav #scroll-nav-0 a {
  color: #e84f3e; }

/* line 171, ../sass/_modules.scss */
.node-type-project .node-project-full .content .field--body {
  background-color: #e84f3e; }
  /* line 174, ../sass/_modules.scss */
  .node-type-project .node-project-full .content .field--body p {
    color: #ffffff; }
/* line 178, ../sass/_modules.scss */
.node-type-project .node-project-full .content .links {
  background-color: #e84f3e;
  opacity: 0.9; }
  /* line 182, ../sass/_modules.scss */
  .node-type-project .node-project-full .content .links li {
    border-right: 2px #e3e3e3 dotted; }
    /* line 185, ../sass/_modules.scss */
    .node-type-project .node-project-full .content .links li a {
      color: #ffffff; }
      /* line 188, ../sass/_modules.scss */
      .node-type-project .node-project-full .content .links li a img {
        background-color: #e84f3e; }
      /* line 191, ../sass/_modules.scss */
      .node-type-project .node-project-full .content .links li a:hover {
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        color: #000000; }
        /* line 195, ../sass/_modules.scss */
        .node-type-project .node-project-full .content .links li a:hover img {
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          background-color: #000000; }

/* line 208, ../sass/_modules.scss */
.page-about #block-weymouth-core-profiles li.profile-block {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline; }
  /* line 214, ../sass/_modules.scss */
  .page-about #block-weymouth-core-profiles li.profile-block h2 {
    font-weight: 300; }
  /* line 217, ../sass/_modules.scss */
  .page-about #block-weymouth-core-profiles li.profile-block img {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  /* line 220, ../sass/_modules.scss */
  .page-about #block-weymouth-core-profiles li.profile-block .field--body,
  .page-about #block-weymouth-core-profiles li.profile-block .field--body p {
    font-color: #475b62; }
  /* line 224, ../sass/_modules.scss */
  .page-about #block-weymouth-core-profiles li.profile-block .field--profile-position {
    font-color: #475b62;
    font-weight: 300; }
  /* line 228, ../sass/_modules.scss */
  .page-about #block-weymouth-core-profiles li.profile-block .profile-time {
    font-color: #000000;
    font-weight: 400; }

/* line 237, ../sass/_modules.scss */
.page-case-studies #case-studies li {
  text-align: center;
  vertical-align: top; }
  /* line 241, ../sass/_modules.scss */
  .page-case-studies #case-studies li h2 {
    color: #6c6d6f; }
  /* line 246, ../sass/_modules.scss */
  .page-case-studies #case-studies li a .case-img-wrapper img {
    border: 1px #6c6d6f solid; }
  /* line 249, ../sass/_modules.scss */
  .page-case-studies #case-studies li a .case-img-wrapper p {
    background-color: none;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    opacity: 0;
    text-transform: uppercase;
    vertical-align: middle; }
  /* line 261, ../sass/_modules.scss */
  .page-case-studies #case-studies li a:hover .case-img-wrapper p {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #e84f3e;
    opacity: 0.8; }
  /* line 269, ../sass/_modules.scss */
  .page-case-studies #case-studies li .field--body,
  .page-case-studies #case-studies li .field--body p {
    font-family: "Merriweather", serif; }

/* line 278, ../sass/_modules.scss */
.page-client #client .links {
  background-color: #e84f3e;
  opacity: 0.9; }
  /* line 282, ../sass/_modules.scss */
  .page-client #client .links li {
    border-right: 2px #e3e3e3 dotted; }
    /* line 285, ../sass/_modules.scss */
    .page-client #client .links li:first-of-type {
      padding: 0; }
    /* line 288, ../sass/_modules.scss */
    .page-client #client .links li:last-of-type {
      border: 0; }
    /* line 291, ../sass/_modules.scss */
    .page-client #client .links li a {
      color: #ffffff; }
      /* line 294, ../sass/_modules.scss */
      .page-client #client .links li a img {
        background-color: #e84f3e; }
      /* line 297, ../sass/_modules.scss */
      .page-client #client .links li a:hover {
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        color: #000000; }
        /* line 301, ../sass/_modules.scss */
        .page-client #client .links li a:hover img {
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          background-color: #000000; }
/* line 311, ../sass/_modules.scss */
.page-client #client #client-slides li p {
  font-family: "Merriweather", serif; }

/* line 319, ../sass/_modules.scss */
.page-contact .contact-office {
  color: #ffffff;
  font-family: "Merriweather", serif; }
  /* line 324, ../sass/_modules.scss */
  .page-contact .contact-office .contact-office-address a {
    color: #ffffff; }
    /* line 327, ../sass/_modules.scss */
    .page-contact .contact-office .contact-office-address a:hover {
      text-decoration: underline; }
  /* line 331, ../sass/_modules.scss */
  .page-contact .contact-office .contact-office-address .contact-address-body {
    font-family: "Oswald", sans-serif; }
/* line 336, ../sass/_modules.scss */
.page-contact .l-content h1,
.page-contact .l-content .field--body h2 {
  color: #ffffff;
  text-align: center; }
/* line 341, ../sass/_modules.scss */
.page-contact .l-content .field--body h2 {
  font-family: "Merriweather", serif; }
/* line 344, ../sass/_modules.scss */
.page-contact .l-page {
  background-repeat: repeat-x !important; }

/* line 351, ../sass/_modules.scss */
.page-industry #project-market a .node-project-teaser {
  text-align: center; }
  /* line 355, ../sass/_modules.scss */
  .page-industry #project-market a .node-project-teaser .content h2 {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #e84f3e;
    color: #ffffff;
    opacity: 0; }
/* line 365, ../sass/_modules.scss */
.page-industry #project-market a:hover .content h2 {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0.8; }

/* line 375, ../sass/_modules.scss */
.page-node h1 {
  color: #333333; }

/* line 382, ../sass/_modules.scss */
.page-services #project-service a .project-service-item {
  text-align: center; }
  /* line 385, ../sass/_modules.scss */
  .page-services #project-service a .project-service-item h2 {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #e84f3e;
    color: #ffffff;
    opacity: 0; }
  /* line 392, ../sass/_modules.scss */
  .page-services #project-service a .project-service-item:hover h2 {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    opacity: 0.8; }

/* line 402, ../sass/_modules.scss */
#block-weymouth-core-clients h1 {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3.0rem;
  text-transform: uppercase; }
/* line 409, ../sass/_modules.scss */
#block-weymouth-core-clients .clients-contact {
  text-align: center; }
  /* line 412, ../sass/_modules.scss */
  #block-weymouth-core-clients .clients-contact p {
    color: #333333;
    font-family: "Lato", sans-serif;
    font-size: 1.55rem;
    font-weight: 300;
    margin-bottom: 0; }
    /* line 419, ../sass/_modules.scss */
    #block-weymouth-core-clients .clients-contact p .fa-arrow-circle-o-right {
      color: #e84f3e;
      font-size: 2.3rem;
      vertical-align: middle; }
    /* line 424, ../sass/_modules.scss */
    #block-weymouth-core-clients .clients-contact p strong {
      text-transform: uppercase;
      font-weight: 400; }

/* line 432, ../sass/_modules.scss */
#block-weymouth-core-contact-form h2 {
  font-family: "Merriweather", serif; }
/* line 435, ../sass/_modules.scss */
#block-weymouth-core-contact-form .webform-component-email,
#block-weymouth-core-contact-form .webform-component-email .form-text,
#block-weymouth-core-contact-form .webform-component-textfield,
#block-weymouth-core-contact-form .webform-component-textfield .form-text {
  display: inline; }

/* line 445, ../sass/_modules.scss */
#front-page #front-page-body a #front-video-link {
  border: 1px #ffffff solid;
  color: #ffffff;
  font-size: 1.0rem;
  text-transform: uppercase; }
/* line 452, ../sass/_modules.scss */
#front-page #front-page-body a:hover #front-video-link {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #e84f3e; }
/* line 458, ../sass/_modules.scss */
#front-page #front-page-body h2 {
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase; }
/* line 463, ../sass/_modules.scss */
#front-page #front-page-body p {
  color: #ffffff;
  font-family: "Merriweather", serif; }
/* line 468, ../sass/_modules.scss */
#front-page a.explore,
#front-page a.explore-ajax {
  color: #ffffff;
  text-align: center; }
  /* line 473, ../sass/_modules.scss */
  #front-page a.explore .fa-chevron-down,
  #front-page a.explore-ajax .fa-chevron-down {
    display: block; }
  /* line 476, ../sass/_modules.scss */
  #front-page a.explore:hover,
  #front-page a.explore-ajax:hover {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #e84f3e; }
    /* line 480, ../sass/_modules.scss */
    #front-page a.explore:hover .fa-chevron-down,
    #front-page a.explore-ajax:hover .fa-chevron-down {
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      color: #e84f3e;
      display: block; }

/* line 488, ../sass/_modules.scss */
#global-menu {
  background-color: #000000;
  cursor: pointer; }
  /* line 492, ../sass/_modules.scss */
  #global-menu li {
    list-style-image: none;
    list-style-type: none; }
  /* line 496, ../sass/_modules.scss */
  #global-menu a {
    color: #ffffff;
    text-transform: uppercase; }
    /* line 500, ../sass/_modules.scss */
    #global-menu a:hover {
      color: #e84f3e; }
  /* line 504, ../sass/_modules.scss */
  #global-menu .expanded ul a {
    color: #e84f3e;
    text-transform: none; }
    /* line 508, ../sass/_modules.scss */
    #global-menu .expanded ul a:hover {
      text-decoration: underline; }

/* line 514, ../sass/_modules.scss */
#mobile-contact .mobile-office {
  background-color: #111213;
  opacity: 0.99; }
  /* line 519, ../sass/_modules.scss */
  #mobile-contact .mobile-office .mobile-office-contact a {
    color: #e84f3e; }
    /* line 522, ../sass/_modules.scss */
    #mobile-contact .mobile-office .mobile-office-contact a:hover {
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      color: #ffffff; }
  /* line 527, ../sass/_modules.scss */
  #mobile-contact .mobile-office .mobile-office-contact h2 {
    color: #ffffff;
    font-weight: 400; }
  /* line 531, ../sass/_modules.scss */
  #mobile-contact .mobile-office .mobile-office-contact .fa-inverse {
    color: #111213; }

/*# sourceMappingURL=weymouth.no-query.css.map */
