@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://fonts.googleapis.com/css?family=EB+Garamond');
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('http://fonts.googleapis.com/css?family=Merriweather:400,300');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600');
@import url('http://fonts.googleapis.com/css?family=Oswald');
@import url('http://fonts.googleapis.com/css?family=Oswald:400,700,300');

body {
  background: white;
  color: $darkblue;
  font-family: $font-primary;
  font-size: 1.2rem;
  height: 100%;
  line-height: 160%;
}
#{headings()} {
  color: $darkgray;
  font-family: $font-primary;
  font-weight: normal;
  text-transform: uppercase;
}
h1 {
  color: lighten($darkblue, 25);
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
  padding-top: 0.5rem;
}
h2 {
  color: $lightblack;
  font-size: 2.0rem;
  line-height: 100%;
  margin: 1.25rem 0;
}
h3 {
  color: $orange;
  font-size: 1.5rem;
  line-height: 80%;
}
h4 {
  color: $orange;
  font-size: 0.75rem;
  line-height: 70%;
  margin-bottom: 0.1rem;
}
h5 {
  color: $black;
  font-size: 1.2rem;
  line-height: 60%;
}
ul {
  list-style-type: none;
}
a {
  color: $mediumgray;
  text-decoration: none;

  &:hover {
    @include transition-duration();
    color: $orange;
  }
}
p {
  color: $lightblack;
  font-family: $font-secondary;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 200%;
  margin-bottom: 1.0rem;
}
img,
media,
video {
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
.button {
  background: $orange;
  border-radius: 0.5rem;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-primary;
  font-size: 1.0rem;
  text-transform: uppercase;
}
.button:hover {
  background-color: $black;
  color: $orange;
}
.button:active,
.button.is-checked {
  background-color: $orange;
  color: $black;
}
.clear {
  clear: both;
}
.clear-l {
  clear: left;
}
.clear-r {
  clear: right;
}
.clear-set-l {
  float: left;
}
.clear-set-r {
  float: right;
}
.form-submit {
  color: $white;
  background-color: $orange;
  text-transform: uppercase;

  &:hover {
    color: $black;
  }
  &:active {
    background-color: $black;
    color: $orange;
  }
}
.small {
  color: $blue;
  font-size: 1.0rem;
}
.reveal .fa {
  font-family: FontAwesome;
  font-style: normal;
}
