/***************************************************************************//**
 * weymouth.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "susyone";

.l-header,
.l-main,
.l-footer {
  @include container; // Define these elements as the grid containers.
  margin-bottom: $vert-spacing-unit;
}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}
.l-off-canvas-show,
.l-off-canvas-hide {
  display: none;
}
.no-js .l-off-canvas {
  min-height: 24px;
  position: relative;

  .l-region {
    overflow: hidden;
    position: relative;
  }
  .l-off-canvas-hide {
    display: block;
  }
  &:not(:target) {
    .l-region {
      height: 0;
      min-height: 0;
    }
    .l-off-canvas-show {
      display: block;
    }
    .l-off-canvas-hide {
      display: none;
    }
  }
}
.js .l-page {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.js .l-off-canvas {
  @include transition(left 0.5s ease-in-out);
  cursor: pointer;
  left: 180%;
  position: absolute;
  top: 0;
  width: 80%;
  z-index: 99;

  &.is-visible {
    cursor: auto;
    left: 0;

    .l-off-canvas-show {
      opacity: 0;
      display: none;
    }
    .l-off-canvas-hide {
      display: block;
    }
  }
  .l-off-canvas-show {
    @include transition-delay(2.0s);
    @include transition(1.0s);
    opacity: 1;
    display: block;
  }
}
.breadcrumb {
  margin: 0.5rem 0 0.5rem 0.5rem;

  li {
    padding: 0 0.5rem;
  }
  a.crumb-icon {
    font-size: 0.9rem;
    padding: 0 0.1rem;
  }
}
.flexslider {

  .flex-viewport {
    max-height: 560px;
    width: 100%;
  }
}
.flexslider {
  margin: 0 auto 3.0rem auto;
  max-height: 560px;
  max-width: 900px;
  width: 100%;

  .flex-control-nav {
    background-position: center top;
    background-size: cover;
    bottom: -2.7rem;
    padding-top: 1.0rem;
  }
  .flex-viewport {
    max-height: 560px;
    width: 100%;

    li {
      @include background-image(radial-gradient(#ffffff 280px, #fdfdfd 450px));
      overflow: hidden;

      img {
        @include border-radius(0.25rem);
      }
      .player {
        iframe {
          margin: 0 auto;
        }
      }
    }
  }
}
.l-header {
  margin-bottom: 2.0rem;
}
.l-main {
  margin-bottom: 0;
  padding: 0;
}
.l-region--navigation {
  right: -25%;
  position: absolute;
  width: 50%;
  min-width: 10.0rem;
}
.nav-drawer {
  height: 4.0rem;
  margin: 0;
  padding: 1.0rem 0;
  position: fixed;
  top: -4.0rem;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 100;

  a.nav-control {
    font-size: 2.5rem;

    .fa-bars {
      float: right;
      margin: -0.4rem 25% 0 0;
    }
  }
  .site-logo {
    img {
      float: left;
      margin: -0.4rem 0 0 25%;
      width: 2.5rem;
    }
  }
}
.nav-drawer.show {
  top: 0;
}
.node-type-case {
  .node-case-full {
    .case-panel {
      .case-panel-txt {
        margin: 0 auto;
        padding: 2%;

        .case-panel-title {
          font-size: 1.2rem;
          margin-top: 0;

          .fa-caret-left {
            display: none;
          }
        }
        .field--case-panel-body p {
          font-size: 1.0rem;
        }
      }
      .flexslider {
        max-width: 640px;
      }
    }
    .case-panel-imgs {
      margin: 0 auto;
      padding: 0 1.0rem;
      width: 100%;
    }
    .field--body {
      margin: 0 auto;
      padding: 0 1.0rem;
    }
  }
  #scroll-nav {
    position: fixed;
    right: 1rem;
    top: 30%;
    width: 1rem;
    z-index: 50;
  }
}
.node-type-project {
  .node-project-full {
    .content {
      width: 100%;

      .field--body {
        width: 100%;
        margin: -0.4rem auto 0 auto;
        padding: 0.9rem;

        p {
          clear: right;
          font-size: 1.0rem;
          line-height: 140%;
        }
      }
      .links {
        float: right;
        line-height: 130%;
        position:relative;

        li {
          margin: 0;
          line-height: 190%;
          padding: 0 0.5rem;

          &:first-of-type {
            padding: 0;
          }
          &:last-of-type {
            border: 0;
          }
          a {
            font-weight: 100;

            img {
              vertical-align: top;
            }
          }
        }
      }
    }
  }
}
.page-about {
  .l-main {
    padding: 0 2.0rem;

    #block-weymouth-core-profiles {
      li.profile-block {
        height: 21.0rem;
        min-width: 8.0rem;
        width: 15%;

        h2 {
          font-size: 0.75rem;
          margin: 0;
        }
        .field--body,
        .field--body p {
          font-size: 0.75rem;
          margin-bottom: 0;
        }
        .field--profile-position {
          font-size: 0.65rem;
        }
        .profile-time {
          font-size: 0.75rem;
        }
      }
    }
    #block-weymouth-core-clients {
      ul.filter {
        li {
          display: inline-block;
          margin: 0 10% 0 0;
        }
      }
      #companies {
        li {
          display: inline-block;
        }
      }
    }
  }
}
.page-capabilities {
  .field--body {
    p {
      margin-left: 1.0rem;
      margin-right: 1.0rem;
      line-height: 140%;
    }
  }
}
.page-case-studies {
  .l-main {
    #case-studies {
      li {
          display: block;

        h2 {
          font-size: 1.2rem;
        }
        a {
          .case-img-wrapper {
            p {
              font-size: 1.2rem;
              height: 150px;
              margin: -158px auto 20px auto;
              padding-top: 50px;
              width: 250px;
            }
          }
        }
        .field--body,
        .field--body  p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
.page-client {
  .l-main {
    margin-top: 7.0rem;

    #client {
      .links {
        float: right;
        line-height: 130%;
        margin-top: -2.9rem;
        position:relative;

        li {
          margin: 0;
          line-height: 190%;
          padding: 0 0.5rem;

          &:first-of-type {
            padding: 0;
          }
          &:last-of-type {
            border: 0;
          }
          a {
            font-weight: 100;

            img {
              vertical-align: top;
            }
          }
        }
      }
      #client-slides {
        li {
          img {
            min-width: 300px;
          }
          p {
            font-size: 0.9rem;
            margin: 0.5rem 1.0rem;
            line-height: 120%;
          }
        }
      }
    }
  }
}
.page-contact {
  .contact-office {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    width: 100%;

    .contact-office-address {
      font-size: 0.95rem;
      margin: -18.5rem auto 3.0rem auto;
      min-width: 19.0rem;

      .contact-address-body {
        font-size: 6.0rem;
        line-height: 100%;
      }
    }
    img {
      min-width: 19.0rem;
      width: 100%;
    }
  }
  .l-content {
    .field--body h2 {
      font-size: 1.3rem;
    }
    h1 {
      font-size: 3.0rem;
      line-height: 100%;
    }
  }
}
.page-industries {
  .l-main {
    margin: 8.0rem auto 0 auto;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }
}
.page-industry {
  .l-main {
    margin: 7.0rem auto 0 auto;
    max-width: $container-width;
    padding: 0;
    width: 100%;

    #project-market {
      li {
        display: block;
        vertical-align: top;
        margin: 0 auto;
        width: 100%;

        a {
          .node-project-teaser {
            height: 150px;
            margin: 0 auto 2.0rem auto;
            width: 250px;

            .content {
              h2 {
                font-size: 1.25rem;
                font-weight: 200;
                height: 150px;
                margin: -156px auto 156px;
                padding-top: 60px;
              }
            }
          }
        }
      }
    }
  }
}
.page-node {
  h1 {
    font-size: 1.5rem;
  }
  .l-main {
    margin-top: 7.0rem;
  }
}
.page-service-list {
  .l-main {
    margin: 8.0rem auto 0 auto;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }
}
.page-services {
  .l-main {
    margin: 7.0rem auto 0 auto;
    max-width: $container-width;
    padding: 0;
    width: 100%;

    #project-service {
      li {
        display: block;
        margin: 0 auto;
        vertical-align: top;
        width: 250px;

        a {
          .project-service-item {
            height: 150px;
            margin: 0 auto 2.0rem auto;
            width: 250px;

            h2 {
              font-size: 1.25rem;
              font-weight: 200;
              height: 150px;
              margin: -153px auto 153px;
              padding-top: 60px;
            }
          }
        }
      }
    }
  }
}
.page-user {
  .l-main {
    margin-top: 6.0rem;

    .l-content {
      .tabs--primary {
        li {
          float: none;
        }
      }
    }
  }
}
.site-logo {
  img {
    margin-top: 1.0rem;
    position: absolute;
    z-index: 100;
  }
}
body.front {
  video {
    display: none;
  }
  .explore,
  .explore-ajax {
    display: none;
  }
  .field--front-panel-body {
    margin: 0.5rem auto;
    padding: 0.1rem 1.0rem;
    width: 100%;
  }
  .front-panel-content {
    height: 20.0rem;
    padding-top: 20%;

    .front-panel-callout {
      background-color: $lightblack;
      opacity: 0.8;
      padding: 1.0rem;
      width: 100%;

      h2.block-title {
        color: $white;
        font-size: 1.2rem;
        margin: 0.3rem 0;
      }
      .content {

        a {
          color: $white;

          .case-view-link {
            border: 1px $white solid;
            color: $white;
            font-size: 0.85rem;
            min-width: 12.0rem;
            text-align: center;
            width: 50%;
          }
        }
        .field--body {
          p {
            color: $white;
            font-family: $font-tertiary;
            font-size: 0.8rem;
            line-height: 150%;
          }
        }
      }
    }
    .front-mobile-img {
      width: 100%;
    }
  }
  li.blog-block {
    border-top: 1px $offwhite solid;
    padding: 1.5rem 0 0.5rem 0;
    text-align: center;
  }
  li.blog-block-last {
    margin: 0 auto;
    text-align: center;
    width: 85%;
  }
  #mobile-contact {
    margin-top: -21.0rem;

    .mobile-office {
      float: left;
      padding: 1.0rem 0;
      width: 50%;

      .mobile-office-contact {
        margin: 0 auto;
        max-width: 13.0rem;
        padding-left: 0.5rem;

        h2 {
          font-size: 1.1rem;
          margin: 0 auto 0.3rem 0;
        }
        a {
          padding-right: 8%;

          .fa-lg {
            font-size: 1.0rem;
          }
        }
      }
    }
    #mobile-office-0 {
      border-right: 1px $offwhite solid;
    }
  }
}
body.video-slideshow {
  .flexslider {
    .flex-control-nav {
      background-image: none;
      padding-top: 0;
    }
  }
}
iframe.phone {
  display: block !important;
  height: auto;
  width: 100%;
}
iframe.desk,
iframe.tab {
  display: none !important;
}
#block-weymouth-core-clients {
  margin: 0px auto;
  
  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .button-group {
    .button {
      border-radius: 0.5rem;
      margin: 0.1rem 25%;
      width: 50%;
    }
  }
  .button-group:after {
    clear: both;
    content: '';
    display: block;
  }
  .element-item {
    background: transparent;
    border: 1px $lightgray solid;
    color: $black;
    float: left;
    height: 146px;
    margin: 0.3rem;
    position: relative;
    width: 196px;
    
    img {
       height: 76%;
       margin: 12%;
       vertical-align: middle;
       width: 76%;
     }
  }
  .element-item > * {
    margin: 0;
    padding: 0;
  }
  .grid:after {
    clear: both;
    content: '';
    display: block;
  }
}
#block-weymouth-core-contact-form {
  clear: left;
}
#block-weymouth-core-contact-form {
  .webform-component-email,
  .webform-component-email .form-text,
  .webform-component-textfield,
  .webform-component-textfield .form-text {
    min-width: 10.0rem;
    padding-right: 1.2rem;
    width: 50%;
  }
  .webform-component--phone,
  .webform-component--phone .form-text {
    padding-right: 0;
  }
}
#global-footer {
  padding: 3.0rem;
  font-size: 1.0rem;
  text-align: center;

  h3 {
    margin: 0 20% 0.5rem 20%;
    text-align: center;
    line-height: 110%;
    font-size: 1.0rem;
  }
  #global-footer-right {
    font-size: 0.8rem;
  }
}
#global-menu {
  height: 100%;
  padding: 3.0rem 1.0rem 1.0rem 1.0rem;

  li.expanded {
    ul {
      display:none;
    }
  }
}
#off-canvas-hide {
  .fa-times {
    font-size: 3.6rem !important;
    position: fixed;
    right: 1.0rem;
    top: 0.0rem;
    z-index: 100;
  }
}
#off-canvas-show {
  .fa-bars {
    font-size: 2.0rem !important;
    padding: 0.35rem;
    position: fixed;
    right: 1.0rem;
    top: 0.5rem;
    z-index: 90;
  }
}
@include at-breakpoint($tab) {            // At a given Susy Media Layout, use a given amount of columns.
  .l-header,
  .l-main,
  .l-footer {
    @include set-container-width;         // Reset only the container width (elements have already been declared as containers).
  }
  .l-branding {
    @include span-columns(4, 12);         // Span 4 out of 12 columns.
  }
  .l-region--header{
    @include span-columns(8 omega, 12);   // Span the last (omega) 8 columns of 12.
  }
  .l-region--navigation {
    clear: both;
    min-height: 1024px;
    position: absolute;
    right: -25%;
    top: 0;
    width: 16.0rem;
  }
  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 12);       // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }
  .l-footer {
    max-width: none;
    width: 100%;

    .l-region--footer {
      margin: 0 auto;
      max-width: $container-width;
      width: 100%;

      #block-weymouth-core-global-footer {
        padding: 5.0rem 0;

        #global-footer {
          font-size: 1.2rem;
          text-align: left;

          #global-footer-center {
            float: left;
            width: 50%;

            .footer-office {
              line-height: 100%;
              margin: 0 auto 1.0rem auto;
              width: 50%;

              .fa-map-marker {
                font-size: 1.3rem;
              }
              a {
                font-size: 0.9rem;
              }
              .footer-office-phone {
                font-size: 0.9rem;
              }
            }
          }
          #global-footer-left {
            float: left;
            text-align: left;
            width: 25%;

            h3 {
              font-size: 0.9rem;
              line-height: 100%;
              margin: 0 auto 0 0;
              width: 67px;
            }
          }
          #global-footer-right {
            float: left;
            font-size: 0.8rem;
            width: 25%;
          }
        }
      }
    }
  }
  .l-main {
     min-height: 20.0rem;
   }
  .node-type-project {
    .node-project-full {
      max-width: 900px;

      .content {
        width: 100%;

        .field--body {
          margin: -24rem 0 10.0rem 4%;
          opacity: 0.9;
          width: 43%;

          p {
            clear: none;
          }
        }
        .links {
          margin: -55% 5% 0 0;
        }
      }
    }
  }
  .page-capabilities {
    .field--body {
      p {
        line-height: 200%;
        margin: 0 1.0rem;
      }
    }
  }
  .page-case-studies {
    .l-main {
      margin-top: 7.0rem;

      #case-studies {
        li {
          display: inline-block;
          margin: 0 3%;
          min-width: 250px;
          padding: 0;
          width: 33%;
          zoom: 1;          // IE
          *display: inline; // IE
        }
      }
    }
  }
  .page-client {
    .l-main {
      #client {
        #client-slides {
          li {
            p {
              font-size: 1.1rem;
              line-height: 200%;
              margin: 2.0rem 25% 0 25%;
            }
          }
        }
      }
    }
  }
  .page-contact {
    .contact-office {
      display: block;
      float: left;
      max-width: 50%;
      margin: 2.0rem auto 2.0rem 5%;
      width: 40%;

      .contact-office-address {
        font-size: 0.95rem;
        margin: -80% auto 40%rem;
      }
    }
  }
  .page-industry {
    .l-main {
      #project-market {
        li {
          display: inline-block;
            margin: 0 1.0rem;
            width: 40%;
            zoom: 1;          // IE
            *display: inline; // IE
        }
      }
    }
  }
  .page-services {
    .l-main {
      #project-service {
        li {
          display: inline-block;
          width: 33%;
          margin: 0.5rem 1%;
          zoom: 1;          // IE
          *display: inline; // IE
        }
      }
    }
  }
  .page-user {
    .l-main {
      .l-content {
        .tabs--primary {
          li {
            float: left;
          }
        }
      }
    }
  }
  body.front {
    .l-main {
      max-width: 100%;
      width: 100%;

      #block-weymouth-core-blog,
      #block-weymouth-core-blog-header {
        margin: 4.0rem auto 0.5rem auto;
        max-width: $container-width;
        width: 100%;
      }
    }
    li.blog-block {
      border-top: 1px solid $offwhite;
      display: inline-block;
      margin: 1.0rem 2.0rem;
      padding: 2.0rem 1.0rem 0 1.0rem;
      text-align: center;
      vertical-align: top;
      width: 40%;
      zoom: 1;          // IE
      *display: inline; // IE

      h4 {
        margin-top: 0.5rem;
      }
      img {
        margin: 0 auto;
      }
      .blog-teaser-title {
        font-size: 1.0rem;
        margin: 0 auto;
        width: 80%;
      }
    }
    #blog-block {
      li.blog-block {
        .node-blog-teaser {
          .content {
            min-height: 26.0rem;
          }
        }
      }
      li.blog-block.even .node-blog {
        &:after {
          border-right: 1px $offwhite solid;
          content: '\00a0';
          padding: 160% 58% 5% 58%;
        }
      }
      li.blog-block-last {
        margin: 0.3rem auto 0 auto;
        text-align: center;
        width: 92%;
      }
    }
    #front-page {
      .field--body {
        margin: 0.5rem auto;
        padding: 0.1rem 0;
        width: $container-width;
      }
      .field--front-panel-body {
        margin: 0.5rem auto;
        max-width: 100%;
        padding: 0.1rem 2.0rem;
        width: $container-width;
      }
      .field--case-panel-body p {
        font-size: 1.0rem;
        line-height: 150%;
      }
      .front-panel-even {
        .front-panel-callout {
          color: $lightblack;
          margin: 0 auto 0 25%;

          a {
            color: $lightblack;

            .case-view-link {
              border: 1px $lightblack solid;
              color: $lightblack;
            }
          }
          .field--body p {
            color: $lightblack;
          }
          .block-title {
            color: $lightblack;
          }
        }
      }
      .front-panel-odd {
        .front-panel-callout {
          color: $white;
          margin: 0 25% 0 auto;

          a {
            color: $white;

            .case-view-link {
              border: 1px $white solid;
              color: $white;
            }
          }
          .field--body p {
            color: $white;
          }
          .block-title {
            color: $white;
          }
        }
      }
      .front-panel-content {
        height: 20.0rem;
        padding: 0;

        .front-panel-callout {
          background-color: transparent;
          opacity: 1;
          padding-top: 3.0rem;
          text-align: center;
          width: 25.0rem;

          a {
            .case-view-link {
              margin: 0 auto;
              padding: 0.5rem;
              width: 13.0rem;
            }
          }
          .field--body p {
            font-size: 1.2rem;
            line-height: 120%;
            width: 25.0rem;
          }
          h2.block-title {
            margin-top: 0.1rem;
          }
          h4 {
            margin-bottom: 0.3rem;
          }
        }
      }
      .explore {
        bottom: 0;
        display: block;
        left: 45%;
        position: absolute;
        width: 10%;
      }
      .explore-ajax {
        display: block;
        margin-left: 45%;
        position: relative;
        padding-top: 50%;
        width: 10%;
        z-index: 1000;
      }
      .fa-chevron-down {
        font-size: 4.0rem;
      }
      #case-study {
        margin-top: 28.0rem;
      }
      #front-page-body {
        left: 30%;
        min-width: 40.0rem;
        position: absolute;
        top: 2.0rem;
        width: 40%;

        h2 {
          font-size: 2.4rem;
        }
        a {
          #front-video-link {
            padding: 0.5rem;
            text-align: center;
            width: 13.0rem;
          }
        }
      }
      video {
        display: block;
      }
      .front-mobile-img {
        display: none;
      }
      #front-video {
        background-color: $black;
        position: absolute;
        top: 0;
        width: 100%;
      }
      #mobile-contact {
        display: none;
      }
      #video-x {
        color: $white;
        font-size: 3.0rem;
        left: 80%;
        position: absolute;
        top: 1.0rem;
        z-index: 99;

        &:hover {
          @include transition();
          color: $orange;
        }
      }
    }
  }
  iframe.tab {
    display: block !important;
    height: 401px;
    width: 650px;
  }
  iframe.desk,
  iframe.phone {
    display: none !important;
  }
  #block-weymouth-core-clients {
    max-width: 40rem;
    
    .button-group {
      .button {
        border-radius: 0;
        float: left;
        margin: 0;
        width: 15%;
      }
      .button:first-child {
        border-radius: 0.5rem 0 0 0.5rem;
        margin-left: 3.4%;
      }
      .button:last-child {
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
    .button-group:after {
      clear: both;
      content: '';
      display: block;
    }
  }
  #global-menu {
    min-height: 1024px;
    opacity: 0.85;
    padding: 1.0rem;
    width: 16.0rem;

    a {
      font-size: 1.5rem;
    }
    li {
      line-height: 180%;
    }
    .content {
      margin-top: 3.0rem;
    }
    li.expanded {
      ul {
        display:block;

        a {
          font-size: 1.2rem;
        }
      }
    }
  }
  #off-canvas-show {
    .fa-bars {
      font-size: 2.0rem !important;
      padding: 0.35rem;
      position: fixed;
      right: 12.0rem;
      top: 2.6rem;
      z-index: 100;
    }
  }
  #off-canvas-hide {
    .fa-times {
      font-size: 3.6rem !important;
      position: fixed;
      right: 1.0rem;
      top: 2.1rem;
      z-index: 100;
    }
  }
}
@include at-breakpoint($desk) {
  .l-header,
  .l-main,
  .l-footer {
    @include set-container-width;          // Reset only the container width (elements have already been declared as containers).
  }
  .l-branding {
    @include span-columns(6, 16);          // Span 6 out of 16 columns.
  }
  .l-region--header{
    @include span-columns(10 omega, 16);   // Span the last (omega) 10 columns of 16.
  }
  .has-sidebar-first {
    .l-content {
      @include span-columns(12 omega, 16); // Span the last (omega) 12 columns of 16.
    }
    .l-region--sidebar-first {
      @include span-columns(4, 16);        // Span 4 out of 16 columns.
    }
  }
  .has-sidebar-second {
    .l-content {
      @include span-columns(12, 16);       // Span 12 out of 16 columns.
    }
    .l-region--sidebar-second {
      @include span-columns(4 omega, 16);  // Span the last (omega) 4 columns of 16.
      clear: none;
    }
  }
  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 16);        // Span 8 out of 16 columns.
      @include push(4, 16);                // Push element by adding 4 out of 16 columns of left margin.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4, 16);        // Span 4 out of 16 columns.
    }
    .l-region--sidebar-first {
      @include pull(12, 16);               // Pull element by adding 12 out of 16 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include omega;                      // This element spans the last (omega) column.
      clear: none;
    }
  }
  .l-footer {
    max-width: none;

    .l-region--footer {
      #block-weymouth-core-global-footer {
        #global-footer-center {
          .footer-office {
            float: left;
          }
        }
        #global-footer-right {
          font-size: 1.3rem !important;
        }
      }
    }
  }
  .node-type-case {
    .node-case-full {
      .case-panel {
        clear: right;

        .case-panel-txt {
          float: right;
          margin: 0 0 2.0rem 1.0rem;
          width: 27%;

          .case-panel-title {
            .fa-caret-left {
              display: inline;
            }
          }
        }
        .flexslider {
          margin-left: 4.0rem;
          max-width: 640px;
        }
      }
      .case-panel-imgs {
        margin: 0 1.0rem 0 0;
        padding: 0 1.0rem;
        width: 70%;
      }
    }
    #scroll-nav {
      top: 40%;
    }
  }
  .node-type-project {
    .node-project-full {
      .content {
        width: 900px;

        .links {
          margin: -31.0rem 1.0rem 0 0;
        }
      }
    }
  }
  .page-about {
    .l-main {
      padding: 0;
    }
  }
  .page-case-studies {
    .l-main {
      #case-studies {
        li {
          margin: 0;
          padding: 0 3%;
        }
      }
    }
  }
  .page-capabilities {
    .field--body {
      p {
        margin: 0;
      }
    }
  }
  .page-contact {
    .contact-office {
      display: inline-block;
      margin: 2.0rem auto;
      padding: 0 1.0rem;
      text-align: center;
      width: 49%;
      zoom: 1;          // IE
      *display: inline; // IE

      .contact-office-address {
        font-size: 0.95rem;
        margin: -80% auto 40%;

        .contact-address-body {
          font-size: 10.0rem;
          line-height: 100%;
        }
      }
    }
  }
  .page-industry {
    .l-main {
      #project-market {
        margin: 0 auto;
        max-width: $container-width;

        li {
          display: inline-block;
            margin: 0;
            width: 33%;
            zoom: 1;          // IE
            *display: inline; // IE
        }
      }
    }
  }
  .page-services {
    .l-main {
      #project-service {
        li {
          margin: 0;
          width: 33%;
        }
      }
    }
  }
  body.front {
    .field--body,
    .field--front-panel-body {
      margin: 0.5rem auto;
      padding: 0.1rem 0;
      width: $container-width;
    }
    li.blog-block {
      border-top: 1px solid $offwhite;
      display: inline-block;
      margin: 1.0rem 2.0rem;
      padding: 2.0rem 1.0rem 0 1.0rem;
      text-align: center;
      vertical-align: top;
      width: 40%;
      zoom: 1;          // IE
      *display: inline; // IE

      h4 {
        margin-top: 0.5rem;
      }
      img {
        margin: 0 auto;
      }
      .blog-teaser-title {
        font-size: 1.0rem;
        margin: 0 auto;
        width: 80%;
      }
    }
    #blog-block {
      li.blog-block.even {
        .node-blog {
          &:after {
            border-right: 1px $offwhite solid;
            content: '\00a0';
            padding: 100% 56% 5% 55%;
          }
        }
      }
    }
    #block-weymouth-core-blog,
    #block-weymouth-core-blog-header {
      max-width: $container-width;
      margin: 4.0rem auto 0.5rem auto;
      width: 100%;
    }
    #front-page {
      #case-study {
        margin-top: 58.0rem;
      }
      #front-page-body {
        top: 15.0rem;
      }
    }
  }
  iframe.desk {
    display: block !important;
    height: 550px;
    width: 890px;
  }
  iframe.tab,
  iframe.phone {
    display: none !important;
  }
  #block-weymouth-core-clients {
    max-width: 65rem;
    
    .button-group {
      .button:first-child {
        margin-left: 4.5%;
      }
    }
    .button-group:after {
      clear: both;
      content: '';
      display: block;
    }
  }
  #block-weymouth-core-contact-form {
    .webform-component-email,
    .webform-component-email .form-text,
    .webform-component-textfield,
    .webform-component-textfield .form-text {
      padding-right: 1.2rem;
      width: 32%;
    }
  }
}
