a.l-off-canvas-hide {
  color: $white !important;

  &:hover .fa-times {
    @include transition-delay(0.1s);
    @include transition-duration(0.2s);
    color: $orange;
  }
}
a.l-off-canvas-show {
  color: $orange;

  &:hover {
    .fa-bars {
      @include transition-duration();
      background-color: $black;
      border: 1px $white solid;
      color: $white;
    }
  }
}
.breadcrumb {
  color: $mediumgray;
  text-transform: uppercase;

  li {
    border-right: 2px $offwhite dotted;
    display: inline;

    &:last-of-type {
      border: 0;
    }
  }
  a.crumb-icon {
    background-color: $black;
    border: 1px $white solid;
    color: $white;

    &:hover {
      @include transition-duration();
      color: $black;
      background-color: $white;
      border: 1px $black solid;
    }
  }
}
.flexslider {
  .flex-control-nav {
    background-image: url("/sites/all/themes/weymouth/images/slideshow_shadow.png");
  }
  .flex-viewport {
    li {
      .player {
        background-color: $black;
      }
    }
  }
}
.front-panel-content {
  background-color: $offwhite !important;
}
.front-panel-callout {
  overflow: visible;

  a {
    text-transform: uppercase;

    .case-view-link {
      color: $white;
    }
    &:hover,
    &:hover div {
      @include transition-duration();
      background-color: $orange;
    }
  }
}
.front-panel-wrapper {
  background-color: $white;
}
.l-footer {
  background-color: $mediumblack;
  margin-bottom: 0;

  .l-region--footer {
    #global-footer-center {
      color: $gray;

      a {
        color: $white;
        font-weight: 300;

        &:hover {
          @include transition-duration();
          color: $orange;
        }
        .fa-map-marker {
          color: $orange;

          &:hover {
            @include transition-duration();
            color: $white;
          }
        }
      }
    }
    #global-footer-left {
      a h3 {
        color: $gray;
      }
    }
    #global-footer-right {
      a {
        color: $gray;

        &:hover {
          @include transition-duration();
          color: $orange;
        }
      }
      .fa-inverse {
        color: $darkblack;
      }
    }
  }
}
.l-off-canvas {
  clear: both;
}
.nav-drawer {
  border-bottom: 1px $darkgray solid;
  background-color: $white;
  opacity: 0.8;

  a.nav-control {
    color: $orange;

    &:hover {
      border: 1px $black solid;
      color: $black;
    }
  }
}
.node-case-full {
  .field--body {
    p {
      color: $gray;
    }
  }
  .case-panel-imgs {
    text-align: center;
  }
  .case-panel {
    .case-panel-txt {
      .case-panel-title {
        color: $orange;
      }
    }
  }
  #scroll-nav {
    #scroll-nav-0 {
      a {
        color: $orange;
      }
    }
  }
}
.node-type-project {
  .node-project-full {
    .content {
      .field--body {
        background-color: $orange;

        p {
          color: $white;
        }
      }
      .links {
        background-color: $orange;
        opacity: 0.9;

        li {
          border-right: 2px $offwhite dotted;

          a {
            color: $white;

            img {
              background-color: $orange;
            }
            &:hover {
              @include transition-duration();
              color: $black;

              img {
                @include transition-duration();
                background-color: $black;
              }
            }
          }
        }
      }
    }
  }
}
.page-about {
  #block-weymouth-core-profiles {
    li.profile-block {
      display: inline-block;
      vertical-align: top;
      zoom: 1;          // IE
      *display: inline; // IE

      h2 {
        font-weight: 300;
      }
      img {
        @include border-radius(50%);
      }
      .field--body,
      .field--body p {
        font-color: $darkgray;
      }
      .field--profile-position {
        font-color: $darkgray;
        font-weight: 300;
      }
      .profile-time {
        font-color: $black;
        font-weight: 400;
      }
    }
  }
}
.page-case-studies {
  #case-studies {
    li {
      text-align: center;
      vertical-align: top;

      h2 {
        color: $gray;
      }
      a {
        .case-img-wrapper {
          img {
            border: 1px $gray solid;
          }
          p {
            background-color: none;
            color: $white;
            font-family: $font-primary;
            font-weight: 400;
            opacity: 0;
            text-transform: uppercase;
            vertical-align: middle;
          }
        }
        &:hover {
          .case-img-wrapper {
            p {
              @include transition-duration();
              background-color: $orange;
              opacity: 0.8;
           }
          }
        }
      }
      .field--body,
      .field--body  p {
        font-family: $font-tertiary;
      }
    }
  }
}
.page-client {
  #client {
    .links {
      background-color: $orange;
      opacity: 0.9;

      li {
        border-right: 2px $offwhite dotted;

        &:first-of-type {
          padding: 0;
        }
        &:last-of-type {
          border: 0;
        }
        a {
          color: $white;

          img {
            background-color: $orange;
          }
          &:hover {
            @include transition-duration();
            color: $black;

            img {
              @include transition-duration();
              background-color: $black;
            }
          }
        }
      }
    }
    #client-slides {
      li {
        p {
          font-family: $font-tertiary;
        }
      }
    }
  }
}
.page-contact {
  .contact-office {
    color: $white;
    font-family: $font-tertiary;

    .contact-office-address {
      a {
        color: $white;

        &:hover {
          text-decoration: underline;
        }
      }
      .contact-address-body {
        font-family: $font-primary;
      }
    }
  }
  .l-content h1,
  .l-content .field--body h2 {
    color: $white;
    text-align: center;
  }
  .l-content .field--body h2 {
    font-family: $font-tertiary;
  }
  .l-page {
    background-repeat: repeat-x !important;
  }
}
.page-industry {
  #project-market {
    a {
      .node-project-teaser {
        text-align: center;

        .content {
          h2 {
            @include transition-duration();
            background-color: $orange;
            color: $white;
            opacity: 0;
          }
        }
      }
      &:hover {
        .content {
          h2 {
            @include transition-duration();
            opacity: 0.8;
          }
        }
      }
    }
  }
}
.page-node {
  h1 {
    color: $lightblack;
  }
}
.page-services {
  #project-service {
    a {
      .project-service-item {
        text-align: center;

        h2 {
          @include transition-duration();
          background-color: $orange;
          color: $white;
          opacity: 0;
        }
        &:hover {
          h2 {
            @include transition-duration();
            opacity: 0.8;
          }
        }
      }
    }
  }
}
#block-weymouth-core-clients {
  h1 {
    color: $lightblack;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3.0rem;
    text-transform: uppercase;
  }
  .clients-contact {
    text-align: center;

    p {
      color: $lightblack;
      font-family: $font-secondary;
      font-size: 1.55rem;
      font-weight: 300;
      margin-bottom: 0;

      .fa-arrow-circle-o-right {
        color: $orange;
        font-size: 2.3rem;
        vertical-align: middle;
      }
      strong {
        text-transform: uppercase;
        font-weight: 400;
      }
    }
  }
}
#block-weymouth-core-contact-form {
  h2 {
   font-family: $font-tertiary;
  }
  .webform-component-email,
  .webform-component-email .form-text,
  .webform-component-textfield,
  .webform-component-textfield .form-text {
    display: inline;
  }
}
#front-page {
  #front-page-body {
    a {
      #front-video-link {
        border: 1px $white solid;
        color: $white;
        font-size: 1.0rem;
        text-transform: uppercase;
      }
      &:hover {
        #front-video-link {
          @include transition();
          background-color: $orange;
        }
      }
    }
    h2 {
      color: $white;
      font-weight: 400;
      text-transform: uppercase;
    }
    p {
      color: $white;
      font-family: $font-tertiary;
    }
  }
  a.explore,
  a.explore-ajax {
    color: $white;
    text-align: center;

    .fa-chevron-down {
      display: block;
    }
    &:hover {
      @include transition-duration();
      color: $orange;

      .fa-chevron-down {
        @include transition-duration();
        color: $orange;
        display: block;
      }
    }
  }
}
#global-menu {
  background-color: $black;
  cursor: pointer;

  li {
    list-style-image: none;
    list-style-type: none;
  }
  a {
    color: $white;
    text-transform: uppercase;

    &:hover {
      color: $orange;
    }
  }
  .expanded ul a {
    color: $orange;
    text-transform: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
#mobile-contact {
  .mobile-office {
    background-color: $darkblack;
    opacity: 0.99;

    .mobile-office-contact {
      a {
        color: $orange;

        &:hover {
          @include transition-duration();
          color: $white;
        }
      }
      h2 {
        color: $white;
        font-weight: 400;
      }
      .fa-inverse {
        color: $darkblack;
      }
    }
  }
}
