// Colors.

  $white       : #ffffff;
  $offwhite    : #e3e3e3;

  $black       : #000000;
  $darkblack   : #111213;
  $mediumblack : #28282e;
  $lightblack  : #333333;

  $gray        : #6c6d6f;
  $lightgray   : #819090;
  $mediumgray  : #536870;
  $darkgray    : #475b62;

  $blue        : #2176c7;
  $darkblue    : #0a2933;
  
  $orange      : #e84f3e;

// Legacy support.

  $legacy-support-for-ie6: false;
  $legacy-support-for-ie7: true;
  $legacy-support-for-ie8: true;

// Fonts.

  $font-primary: "Oswald",sans-serif;
  $font-secondary: "Lato",sans-serif;
  $font-tertiary: "Merriweather",serif;

  $default-border-radius: 0.5rem;

// Set consistent vertical and horizontal spacing units.

  $vert-spacing-unit: 1rem;
  $horz-spacing-unit: 1rem;

// Define Susy grid variables mobile first.

  $total-columns: 4;
  $column-width: 4rem;
  $gutter-width: $horz-spacing-unit;
  $grid-padding: 0.3rem;

  $container-style: magic;
  $container-width: 75rem;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts

  $tab: 44rem 12;  // At 44rem use 12 columns.
  $desk: 70rem 16; // At 70rem use 16 columns.

// Transitions.

  $default-transition-duration: 0.3s;

